label {
	color: white;
}

span {
  font-size:  2em;
}

.dataTables_info {
  color: white;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.progress-bar {
  width: 0%;
  animation: progress 2s ease forwards;
  .title{
    opacity: 0;
    animation: show 0.3s forwards ease;
  }
}
@keyframes progress{
  from{width: 0%;}
  to{width: 100%;}
}
@keyframes show{
  from{opacity: 0;}
  to{opacity: 1;}
}